:root{
/* Font */

/* Text colors */
--main-txt-clr: #2E2F42;

--primari-brand-clr: #4D5AE5;

--pressed-state-clr: #404BBF;

--minor-text-clr: #434455;

--subtle-text-clr: #8E8F99;

--accent-clr: #E7E9FC;

--light-clr: #F4F4FD;

--success-clr: #31D0AA;

--success-clr-75: rgba(49, 208, 170, 0.75);

--success-clr-50: rgba(49, 208, 170, 0.5);
--success-clr-10: rgba(49, 208, 170, 0.1);


/* Background colors */ 
--hero-background-clr:#2E2F42;
--body-background-clr:#FFFFFF;
}
.link{
    color: var(--main-txt-clr);
}
.link:active{
    color: var(--primari-brand-clr);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
   background-color: var(--body-background-clr);
   font-family: 'Roboto',sans-serif;
}
/* logo */
.web{
    font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #4D5AE5;

}
.studio{
    font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;

color: #2E2F42;

}
/* nav */
.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--minor-text-clr);
}
.menu-link:active{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primari-brand-clr);
}
.menu-link:hover{
    color: var(--primari-brand-clr);
}
.menu-linl:focus{
    color: var(--primari-brand-clr);
}
.current{
    color: var(--primari-brand-clr);
}
/* contacts */
.mail{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
width: 153px;
height: 24px;
left: 940px;
top: 24px;
}
.mail:hover{
color: var(--primari-brand-clr);
}
.mail:active{
    color: var(--primari-brand-clr);
}
.phone-number{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;
}
.phone-number:hover{
    color: var(--primari-brand-clr);
}
.phone-number:active{
    color: var(--primari-brand-clr);
}
/* section1 */
.hero{
    background:var(--hero-background-clr)
}
.hero-h1{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
}
/* button */
.button{
background-color: #4D5AE5;
cursor: pointer;
width: 170px;
height: 51px;
left: 635px;
top: 432px;
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}
.button:hover{
    background-color: #404BBF;
}

/* section2 */
.post-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.post-desription{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em; 
    color: #434455;
}
/* what are we doing */
.title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
/* our team */
.section-our-team{
    background-color: var(--light-clr);
}
.list-card{
    background-color: var(--body-background-clr);
}
.personnal{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.name-person{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.speciality-person{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* footer */
.footer-description{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
.footer{
background: #2E2F42;
}
.studio-footer{
    color: #F4F4FD;
    font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
}
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* portfolio.html */
.button-portfolio{
    background-color: #F4F4FD;
    font-family: 'Roboto',sans-serif;
    cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--primari-brand-clr)
}
.button-portfolio:hover{
    background-color: #4D5AE5;
    color: var(--body-background-clr);
}

.button-all{
    width: 69px;
height: 48px;
}
.button-web-site{
    width: 116px;
height: 48px;
}
.button-app{
    width: 78px;
height: 48px;

}
.button-design{
    width: 101px;
height: 48px;

}
.button-marketing{
    width: 126px;
height: 48px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }